.des {
    margin: 40px 0px 0px 40px;
    color: var(--dyncolor);
}

.des>h4 {
    margin-left: 3px;
}

.box {
    /* border: 2px solid red; */
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #333;
    height: 50%;
    /* width: 20%; */
    /* border-radius: 10%; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 12% 12% 25% 0% / 10% 10% 20% 0%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.65);
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

@media (min-width: 270px) {
    .box {
        width: 246px;
    }
}

@media (min-width: 350px) {
    .box {
        width: 300px;
    }
}

@media (min-width: 400px) {
    .box {
        width: 320px;
    }
}

@media (min-width: 470px) {
    .box {
        width: 300px;
    }
}

@media (min-width: 576px) {
    .box {
        width: 320px;
    }
}

@media (min-width: 768px) {
    .box {
        width: 380px;
    }
}

@media (min-width: 992px) {
    .box {
        height: 512px;
        max-width: 400px;
    }
}

@media (min-width: 1200px) {
    .box {
        width: 425px;
    }
}

@media (min-width: 1400px) {
    .box {
        width: 385px;
    }
}

#rgb_val {
    height: 10%;
    width: 60%;
    font-size: 1.3rem;
    text-align: center;
    border: none;
    border-radius: 50px;
    outline: none;
}

#copy-btn {
    /* background-color: rgb(255,95,156); */
    padding: 5px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--dyncolor);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    outline: none;
}

#copy-popup-text {
    display: none;
    background-color: #666;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
}

@media (min-width: 270px) {
    #copy-btn {
        font-size: 0.7rem;
    }
    #copy-popup-text {
        font-size: 0.7rem;
    }
}

@media (min-width: 310px) {
    #copy-btn {
        font-size: 0.7rem;
    }
    #copy-popup-text {
        font-size: 0.7rem;
    }
}

@media (min-width: 350px) {
    #copy-btn {
        font-size: 0.9rem;
    }
    #copy-popup-text {
        font-size: 0.9rem;
    }
}

@media (min-width: 400px) {
    #copy-btn {
        font-size: 1rem;
    }
    #copy-popup-text {
        font-size: 1.1rem;
    }
}

.slider {
    -webkit-appearance: none;
    width: 55%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    /* -webkit-transition: .2s; */
    /* transition: .2s; */
}

/* Mouse-over effects */

.slider:hover {
    background: #fff;
    /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

#red::-webkit-slider-thumb {
    background: #ff0000;
}

#red::-moz-range-thumb {
    background: #ff0000;
}

#green::-webkit-slider-thumb {
    background: #00ff00;
}

#green::-moz-range-thumb {
    background: #00ff00;
}

#blue::-webkit-slider-thumb {
    background: #0000ff;
}

#blue::-moz-range-thumb {
    background: #0000ff;
}

footer {
    position: absolute;
    bottom: 20px;
    right: 40px;
}